{# history.twig #}
{% extends 'layout.twig' %}
{% block title %}History{% endblock %}
{% block content %}

  <div class="row">
    <div class="span16">
      <p style="float: right">
        View only
        <select class="medium" name="transfer-type" id="transfer-type">
          <option></option>
        {% for key, type in alltypes %}
          {% if user %}
            <option value="{{ app.url_generator.generate('user_history', { 'traffic': key, 'id': user.id }) }}">{{ type }}</option>
          {% else %}
            <option value="{{ app.url_generator.generate('history', { 'traffic': key }) }}">{{ type }}</option>
          {% endif %}
        {% endfor %}
        </select>
        or
        {% if user %}
          <a href="{{ app.url_generator.generate('user_history', { 'id': user.id }) }}">reset</a>
        {% else %}
          <a href="{{ app.url_generator.generate('history') }}">reset</a>
        {% endif %}
      </p>

      <h2>
        History <small><b>{{ histories|length }} action{% if histories|length > 1 %}s{% endif %} found
        {% if user is defined %}
          from user `<a href="{{ app.url_generator.generate('user_edit', { 'id': user.id }) }}">{{ user.username }}</a>`
        {% endif %}
        </b></small>
      </h2>
      <br/>

      <table id="sort-users" class="bordered-table zebra-striped">
        <thead>
          <tr>
            <th>T</th>
            <th>User</th>
            <th>Filename</th>
            <th>Transfer Size</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        {% for history in histories %}
          <tr>
            <td><img src="{{ app.static_host }}/{{ history.transfertype|transfer_type2image|raw }}" title="{{ history.transfertype }}" /></td>
            {% if user %}
              <td><a href="{{ app.url_generator.generate('user_edit', { 'id': user.id }) }}">{{ history.username }}</a></td>
            {% else %}
              <td><a href="{{ app.url_generator.generate('user_edit', { 'id': history.user_id }) }}">{{ history.username }}</a></td>
            {% endif %}
            <td style="word-break: break-all;">
              <a href="{{ app.url_generator.generate('history_view', { 'id': history.history_id }) }}">
                {% if history.filename|length > 50 %}
                  {{ history.filename|trunk_tooltip|raw }}
                {% else %}
                  {{ history.filename }}
                {% endif %}
              </a>
            </td>
            <td>{{ history.transfersize|byte2size }}</td>
            <td>{{ history.transferdate }}</td>
          </tr>
        {% else %}
          <tr><td colspan="7">Still no history in the database</td></tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <script type="text/javascript" src="{{ app.static_host }}/assets/jquery.min.js"></script>
  <script type="text/javascript" src="{{ app.static_host }}/assets/application.js"></script>
  <script type="text/javascript" src="{{ app.static_host }}/assets/bootstrap/js/bootstrap-twipsy.js"></script>
  <script type="text/javascript" src="{{ app.static_host }}/assets/bootstrap/js/bootstrap-popover.js"></script>
  <script type="text/javascript" src="{{ app.static_host }}/assets/jquery.tablesorter.min.js"></script>
  <script >
    $(function() {
      $("table#sort-users").tablesorter();
      $('.tooltip').popover();
    });
  </script>
{% endblock %}
