{# layout.twig #}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %} | SilexProFTPd</title>
    <meta name="author" content="Jeremy Benoist <jeremy.benoist@gmail.com>">
    <meta name="description" content="This application allows to manage and monitor ProFTPd accounts.">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="{{ app.static_host }}/assets/bootstrap/bootstrap.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="{{ app.static_host }}/assets/style.css" type="text/css" media="all">
  </head>
  <body>
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">SilexProFTPd</a>
          <ul class="nav">
            <li {{ active == 'home' ? 'class="active"' : '' }}><a href="/">Home</a></li>
            <li {{ active == 'user_list' ? 'class="active"' : '' }}><a href="{{ app.url_generator.generate('user_list') }}">Users list</a></li>
            <li {{ active == 'transfer' ? 'class="active"' : '' }}><a href="{{ app.url_generator.generate('history') }}">View transfer</a></li>
            <li {{ active == 'error' ? 'class="active"' : '' }}><a href="{{ app.url_generator.generate('error') }}">Error log</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="content">
        <div class="page-header">
          <h1>Manage your ProFTPd server <small>with style and Silex</small></h1>
        </div>

        {% if app.session.hasFlash('notice') %}
          <div class="alert-message success fade in" data-alert="alert">
            <a href="#" class="close">×</a>
            <p>
              {{ app.session.flash('notice') }}
            </p>
          </div>
        {% endif %}

        {% block content %}{% endblock %}

      </div>
      <footer>SilexProFTPd is <a href="https://github.com/j0k3r/SilexProFTPd">hosted on GitHub</a>. Feel free to contribute !</footer>
    </div>
  </body>
</html>
