{# user_list.twig #}
{% extends 'layout.twig' %}
{% block title %}User list{% endblock %}
{% block content %}

  <div class="row">
    <div class="span16">
      <div style="float: right">
        <a class="btn success" href="{{ app.url_generator.generate('user_new') }}">New user</a>
      </div>
      <h2>User list <small><b>{{ users|length }} users found</b></small></h2>
      <br/>

      <table id="sort-users" class="bordered-table zebra-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Username</th>
            <th>Full name</th>
            <th>Login Count</th>
            <th>Last login</th>
            <th>Transfer Size</th>
            <th>Valid ?</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for user in users %}
          <tr {{ user.valid ? '' : 'class="not-valid"' }}>
            <td>{{ user.id }}</td>
            <td><a href="{{ app.url_generator.generate('user_edit', { 'id': user.id }) }}">{{ user.username }}</a></td>
            <td>{{ user.fullname }}</td>
            <td>{{ user.count }}</td>
            <td>{{ user.lastlogin }}</td>
            <td>{{ user.historySizeCount|byte2size }}</td>
            <td>
              <a title="activate / deactivate" href="{{ app.url_generator.generate('user_active', { 'id': user.id }) }}">
                {% if user.valid %} <img src="/assets/images/tick.png" /> {% else %} <img src="/assets/images/tock.png" /> {% endif %}
              </a>
            </td>
            <td>
              <a href="{{ app.url_generator.generate('user_edit', { 'id': user.id }) }}">edit</a>&nbsp;
              <a class="delete-user" href="{{ app.url_generator.generate('user_delete', { 'id': user.id }) }}">delete</a>
            </td>
          </tr>
        {% else %}
          <tr><td colspan="8">Still no users in the database. Why not <a href="{{ app.url_generator.generate('user_new') }}">create a new one</a> ?</td></tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
  </div>

  <script type="text/javascript" src="/assets/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/jquery.tablesorter.min.js"></script>
  <script >
    $(function() {
      $("table#sort-users").tablesorter({
        headers: {
          5: {sorter: false},
          7: {sorter: false},
        }
      });
      $('a.delete-user').click(function() {
        return confirm('Do you really want to delete this user ?');
      })
    });
  </script>
{% endblock %}
