{# user_edit.twig #}
{% extends 'layout.twig' %}
{% block title %}User: {{ user.username }}{% endblock %}
{% block content %}

  <div class="row">
    <div class="span12">
      <h2>
        User: {{ user.username }}
        {% if user.lastlogin is empty %}
          <small>Never logged in</small>
        {% else %}
          <small>Last login at {{ user.lastlogin|date('d/m/Y H:i:s') }}</small>
        {% endif %}
      </h2>
      <br/>

      <form action="" method="post">
        {% include '_user_form.twig' %}

        {{ form_rest(form) }}

        <div class="actions">
          <a class="btn" href="{{ app.url_generator.generate('user_list') }}">Back to users list</a>
          <input type="submit" value="Update" class="btn primary">
          <a class="delete-user btn danger" href="{{ app.url_generator.generate('user_delete', { 'id': user.id }) }}">Delete user</a>
        </div>
      </form>

    </div>
    <div class="span4">
      <h3>Some statistics</h3>
      <li><b>{{ data.transfer.time|sec2hms }}</b> time transfer</li>
      <li><b>{{ user.count }}</b> total connexions</li>
      <li><b>{{ data.transfer.nb }}</b> total activities</li>
      <li><b>{{ data.transfer.size|byte2size }}</b> data transfered</li>
      <li class="arrow-up"><b>{{ data.uploaded.nb|byte2size }}</b> uploaded <img src="{{ app.static_host }}/assets/images/up.png" /></li>
      <li class="arrow-down"><b>{{ data.download.nb|byte2size }}</b> downloaded <img src="{{ app.static_host }}/assets/images/down.png" /></li>
      <br/>

      <h3>Actions related</h3>
      <p><a class="btn success" href="{{ app.url_generator.generate('user_history', { 'id': user.id }) }}">View last activities</a></p>
      <p><a class="btn info" href="{{ app.url_generator.generate('user_history', { 'id': user.id, 'traffic': 'STOR' }) }}">View <b>upload</b> activities</a></p>
      <p><a class="btn info" href="{{ app.url_generator.generate('user_history', { 'id': user.id, 'traffic': 'RETR' }) }}">View <b>download</b> activities</a></p>
      <p><a class="btn info" href="{{ app.url_generator.generate('user_history', { 'id': user.id, 'traffic': 'DELE' }) }}">View <b>deleted</b> activities</a></p>
      <p></p>
    </div>
  </div>

  <script type="text/javascript" src="{{ app.static_host }}/assets/jquery.min.js"></script>
  <script type="text/javascript" src="{{ app.static_host }}/assets/bootstrap/js/bootstrap-alerts.js"></script>
  <script >
    $(function() {
      $('a.delete-user').click(function() {
        return confirm('Do you really want to delete this user ?');
      })
    });
  </script>

{% endblock %}
